/*body*/
.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgwrap img {
     display: block;
     align-items: center;
     justify-content: center;
     padding-top:30px;
     overflow:hidden!important;
  }