@font-face {
  font-family: BIZGothic;
  src: url(fonts/BIZUDGothic-Regular.ttf) format('truetype');
}

html{
  font-family: BIZGothic;
}

header {
  font-size:x-large;
  font-family: 'BIZGothic'; 
  position: fixed;
  width: 100vw;
}

.button-image1{
  right: 70px;
  top: 15px;
  position: absolute;
  overflow: none;

}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: 'BIZGothic';
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor:pointer;
  font-size:medium;
  }

button:hover{
  background-color: red !important;
  transition: all .3s ease-in-out !important;
}

body{
  margin-top:20px;
  margin-left:20px;
  font-family: BIZGothic;
  overflow: hidden;
}

.contents{
  position:absolute;
  left: 200px;
  top: 50px;
  width: 70vw;
  height: 100vh;
  z-index:100;
}
.column1{
  position: absolute;
  width: 300px;
  left: 8vw;
}
.column2{
  position: absolute;
  width: 250px;
  left: 30vw;
}
.column3{
  position: absolute;
  width: 200px;
  left: 50vw;
}

.contents::-webkit-scrollbar { 
  display: none;  
}
.box {
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top:300px;
}

@media only screen and (max-width: 600px){
  * {
    overflow: scroll;
  }
  .button-image1{
    right: 30px;
    top: 0;
  }
  .box{
    display: block;
    position: absolute;
    top: 50vh;
    right: 0;
    width: 100vw;
  }
  header{
    position: absolute;
    height: 150px;
  }
  .contents{
    position: absolute;
    top: 170px;
    left: 0;
  }
  .column1{
    left: 15px;
  }
  .column2{
    top: 200px;
    left: 15px;
  }
  .column3{
    top: 370px;
    left: 15px;
  }

}
