.globe{
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.container{
    display: block;
    width: 100%;
    position: absolute;
    padding-top: 200px;
    overflow: hidden !important;
}