@font-face {
   font-family: BIZGothic;
   src: url(fonts/BIZUDGothic-Regular.ttf);
 }

main{
   font-family: BIZGothic;
}

header {
   font-size:large;
   font-family:'BIZGothic';
   position:sticky;
   top: 0;
   background-color: white;
}

 button {
   background: none!important;
   border: none;
   padding: 0!important;
   /*optional*/
   font-family: 'BIZGothic';
   /*input has OS specific font-family*/
   color: rgb(0, 0, 0);
   text-decoration: none;
   cursor:pointer;
   font-size:medium;
   text-wrap:wrap;
 }

 button:hover{
   background-color: red !important;
   transition: all .3s ease-in-out !important;
 }

 body{
   margin-top:20px;
   margin-left:20px;
 }

.contents{
   height:100%;
   width:300px;
   position:fixed;
   z-index:1;
   top:0;
   left:0;
   overflow-x:hidden;
   margin-top: 20px;
   margin-left:20px;
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.contents::-webkit-scrollbar { 
   display: none;
}

.box {
   display:flex;
   align-items: center;
   justify-content: center;
   padding-top: 100px;   
   padding-left:400px;
   flex-direction: column;
   width: 50%;
   line-height: 2;
}
