@font-face {
   font-family: BIZGothic;
   src: url(fonts/BIZUDGothic-Regular.ttf);
 }
main{
   font-family: BIZGothic;
}
body{
   margin-top:20px;
   margin-left:20px;
 }
header {
   font-size:large;
   font-family:'BIZGothic';
   position:sticky;
   top: 0;
   background-color: white;
}
button {
   background: none!important;
   border: none;
   padding: 0!important;
   /*optional*/
   font-family: 'BIZGothic';
   /*input has OS specific font-family*/
   color: rgb(0, 0, 0);
   text-decoration: none;
   cursor:pointer;
   font-size:medium;
   text-wrap:wrap;
 }
button:hover{
   background-color: red !important;
   transition: all .3s ease-in-out !important;
 }
.title:hover{
   background-color: white !important;
}
.contents{
   height:100%;
   width:300px;
   position:fixed;
   z-index:1;
   top:0;
   left:0;
   overflow-x:hidden;
   margin-top: 20px;
   margin-left:20px;
   -ms-overflow-style: none;  /* Internet Explorer 10+ */
   scrollbar-width: none !important;  /* Firefox */
}
.contents::-webkit-scrollbar { 
   display: none;  /* Safari and Chrome */
}
.box {
   align-items: center;
   justify-content: center;
   padding-top: 100px;   
   padding-left:400px;
   flex-direction: column;
   width: 50%;
   line-height: 2;
   z-index: 0;
}
.gifs{
   opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 5s;
   position: absolute;
   ;z-index: 10;
   overflow:hidden;
   align-items: center;
   justify-content: center;
   width: 1000px;
   transform: skew(5deg);
 }

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
   15% {
      opacity: .25
   }
	100% {
		opacity: .45;
	}
}
#opto{
   animation-name: fadeOutOpacity;
   animation-duration: 15s;
   animation-iteration-count: 1;
   animation-timing-function: ease-out;
   opacity: 0;
}
@keyframes fadeOutOpacity {
   0% {
      opacity: 1;
   }
   75% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
