html{
  overflow: hidden!important;
}

@font-face {
  font-family: BIZGothic;
  src: url(fonts/BIZUDGothic-Regular.ttf);
}
 
body{
  font-family: BIZGothic;
}
 
header {
  font-size:large;
  font-family:'BIZGothic';
}
 
.contents{
  height:100%;
  width:300px;
  position:fixed;
  z-index:101;
  top:0;
  left:0;
  overflow-x:hidden;
  margin-top: 20px;
  margin-left:20px;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.contents::-webkit-scrollbar { 
  display: none;  
}

button{
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: 'BIZGothic';
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor:pointer;
  font-size:medium;
}
button:hover{
  background-color: red !important;
  transition: all .3s ease-in-out !important;
}

.frame{
  position: absolute;
  display: block;
  height: 100vh;
  left: 320px;
  top: 0;
}
.hog{
  position: absolute;
  z-index: 100;
  left: 50px;
  height: 800px;
}
.cent{
  position: absolute;
  left: 850px;
  top: 200px;
  height: 700px;
}
.books{
  position: absolute;
  left: 150px;
  top: 225px;
}
.img-block{
  height: 350px;
}

@media only screen and (max-width: 600px) {
  .contents{
    position: absolute;
  }
  .frame {
    left: 0;
    top: 700px;
  }
  .hog{
    width: 390px;
    height: auto;
    left: 15px;
  }
  .cent{
    left: 0px;
    top: 350px;
  }
  .books{
    position: absolute;
    top: 115px;
    left: 100px;
  }
  .img-block{
    height: 170px;
  }
}
